<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


body{
  padding-bottom: 50px;
  margin-left: 50px;
  padding-left: 50px;
}
h1{
  font-family: 'Comic Sans', cursive;
  font-size: 60px;
  text-align: center;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
}

#nav{
  border:1px solid black;
  margin-right:auto;
  margin-left: 70px;
  margin-bottom: 50px;
  padding: 10px;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;

  text-align: center;
  max-width: 200px;

}

.button{
  padding:10px;
  color: black;
  background-color: orange
  border-style:solid;
  border-color: black

}
.button:hover{
  background-color: green;
  color: black;
}
